@import 'mixins';
$base: 12;
$col-sizes:2,3,6,8,12;

@function getWidth($cols){
    @return $cols / $base * 100%; 
}

.grid{
    display: flex;
}

@each $size in $col-sizes{
.grid .c#{$size}{
    width: getWidth($size);
    background-color: #9b59b6;
    @if $size<5 {
        @include tablet{
            width: getWidth($size) + 2; 
        }
        @include small{
            width: getWidth($size) + 4 ; 
        }
        @include desktop{
            width: getWidth($size) + 5 ; 
        }
    }
}

}