.grid {
  display: flex;
}

.grid .c2 {
  width: 16.6666666667%;
  background-color: #9b59b6;
}
@media only screen and (min-width: 768px) {
  .grid .c2 {
    width: 18.6666666667%;
  }
}
@media only screen and (min-width: 600px) {
  .grid .c2 {
    width: 20.6666666667%;
  }
}
@media only screen and (min-width: 992px) {
  .grid .c2 {
    width: 21.6666666667%;
  }
}

.grid .c3 {
  width: 25%;
  background-color: #9b59b6;
}
@media only screen and (min-width: 768px) {
  .grid .c3 {
    width: 27%;
  }
}
@media only screen and (min-width: 600px) {
  .grid .c3 {
    width: 29%;
  }
}
@media only screen and (min-width: 992px) {
  .grid .c3 {
    width: 30%;
  }
}

.grid .c6 {
  width: 50%;
  background-color: #9b59b6;
}

.grid .c8 {
  width: 66.6666666667%;
  background-color: #9b59b6;
}

.grid .c12 {
  width: 100%;
  background-color: #9b59b6;
}
